body {
    background-color: aqua;
    text-align: center;
    font-family: 'Kanit', sans-serif;;
}

img{
    border: 2px solid rgb(255, 47, 47);
    float: right;
    width: 36%;
    border-radius: 20px;
}

.content-1 {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    background-color: brown;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    font-size: large;
    box-shadow: 12px 12px 12px rgba(red, rgb(126, 134, 167), blue, alpha);
}
